<%= _('%{name}(%{url}) namespace has run out of Shared Runner Pipeline minutes so no new jobs or pipelines in its projects will run.') % { name: @namespace.name, url: group_url(@namespace) }%>

<%= _('We recommend that you buy additional Pipeline minutes to resume normal service.') %>

<%= _('Buy more Pipeline minutes') %> → <%= buy_additional_minutes_url(@namespace) %>
